.container {                    /* frame  */
    width: 650px;            /* #ширина полотна         */
    font-size: 16px;         /* #размер шрифта          */
    /* background: coral;       /* #цвет всего заднего фона frame          */
    color: black;          /* #цвет букв          */
}

.container02 {
    width: 100%;
    display: flex;
    padding: 0 0px;  
}

/* на заголовок резюме 18px + жирность + цвет букв черный */
/* на заголовки блоков 16px + жирность + цвет букв черный*/
/* на текст блоков 16px + цвет букв черный*/

.box0 {
    font-size: 18px;            /* размер шрифта */
    font-weight: bold;          /* жирность */
    color: black;          /* цвет букв */
    padding-left: 150px;        /* отступ текста от рамки*/
    /* color: rgba(255, 0, 0, 0.2); -- для прозрачности*/ 
    /* opacity: 0.6;                /* прозрачность */
    /* width: 50px;             /* ширина рамки */ 
    /* height: 50px;                /* высота рамки */
    background: #fff9ec;          /* цвет всего заднего фона frame */
    border-width: 2px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-color: #fff9ec;         /* цвет рамки*/    
}

.box1 {
    font-weight: bold;          /* жирность */
    border-width: 2px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-color: #fff9ec;         /* цвет рамки*/
    background: #fff9ec;
}

.navbar {
    display: flex;
    border-width: 2px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-color: #fff9ec;         /* цвет рамки*/ 
    background: #fff9ec;
}

.table {    
    border-right: 2px solid #fff9ec;
}

.table00 {    
    border-width: 2px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-color: #fff9ec;         /* цвет рамки*/
    letter-spacing: 0px;
    word-spacing: 0px;
    background: #fff9ec;
}


    
    
/*  list-style: none;               /* убрать точки */
/*  margin: 0px; */
/*  padding: 2px; */

/* text-align: justify;justify */

.box2 {
    padding-left: 50px;
    text-align: justify; /* выравнивание теста по ширине */
    border-width: 2px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-radius: 10px;
    border-color: #fff9ec;         /* цвет рамки*/
    background: #fff9ec;
}

/* font-size: 0.5rem;         #размер шрифта          */
/* width: 100%;            #ширина полотна         */



body {
    font-family: 'Muli', sans-serif;
    /* overflow: hidden; */
    margin: 0;
    /* background: #111; */
    /* height: 100vh; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.slide {
    height: 20vh; /* 80 % от видимой части экрана */
    border-radius: 20px;
    margin: 10px;   /* отступы между различными слайдами */
    cursor: pointer; /* при наведении на слайд отображает что с ним можно взаимодействовать */
    color: #fff;
    flex: 1; /* пропорционально растянем */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}
  
.slide h3 {
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0; /* убрать заголовки*/
}
  
.slide.active { /* если слайд активен то */
    flex: 10; /* мы хотим чтобы стал больше*/
}
  
.slide.active h3 { /*стили к заголовку*/
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;  
}
/*/////////////////////////////////////////////////////////*/
.box22 {
    padding-left: 0px; /*50*/
    /* padding-right: 0px; */
    margin: 0;
    text-align: justify; /* выравнивание теста по ширине */
    border-width: 2px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-radius: 10px;
    border-color: #fff9ec;         /* цвет рамки*/
    background: #fff9ec;

    /* box-sizing: border-box; */
    /* width: 100%; */

    background-color: #e5e5e5;
    /* display: flex; */
    padding-top: 5rem;
    justify-content: center;
    overflow: hidden;
    /* margin: 0; */
    height: 200px;
}

.row {
    display: flex;
    width: 100%;
    /* height: 300px; */
    /* width: 600px; */
    /* justify-content: center; */
    justify-content: space-between;
    margin-bottom: 1rem;
}

.col-header {
    width: 150px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem; /*0.8rem*/
    color: #fff;
}

.item {
    width: 150px;
    height: 66px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background: #f7f6f7;
    padding: 0.8rem 1rem;
    color: #828282;
    text-align: center;
    cursor: grab;
}

.item:active {
    cursor: grabbing;
}

.placeholder {
    /* justify-content: center; */
    /* justify-content: space-between; */
    width: 150px;
    height: 66px;
}
  
.start {
    background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}
  
.progress {
    background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}
  
.done {
    background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}
  
.hold {    
    border: 3px solid #eee;
}
  
.hide {
    display: none; /* для исчезновения элемента */
}
  
.hovered {
    border-top: 2px solid #8ed7ed;    
}

/* slider:                          /////////////////////////////////////////*/

.box33 {
    padding-left: 24px;    
    padding-top: 0px;
    margin: 0px;    
    border-width: 2px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-radius: 10px;
    border-color: #fff9ec;         /* цвет рамки*/
    background: #fff9ec;
    background-color: #e5e5e5;    
    height: 300px;    
}

.container33 {
    position: relative;
    overflow: hidden;
    width: 600px; /*vw; */
    height: 300px; /*vh; */
}

.sidebar {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}
  
.sidebar > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
  
.sidebar h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}
  
.main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}
  
.main-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}
  
button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 11px; /*16px; размер кнопочки стрелочки*/
    padding: 10px; /*15px; */
}
  
button:hover {
    color: #222;
}
  
button:focus {
    outline: none;
}
  
.container .controls button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}
  
.container .controls .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
.container .controls .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



/* minigame:                          /////////////////////////////////////////*/

.box44 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    padding-left: 0px;    
    padding-top: 0px;
    margin: 0px;    
    border-width: 2px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-radius: 10px;
    border-color: #fff9ec;         /* цвет рамки*/
    background: #fff9ec;
    background-color: #111;    
    height: 300px;    
}

.container44 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*отобразить в браузере*/
    max-width: 250px; /*максимальная ширина доски*/
}


.square {
    width: 16px;
    height: 16px;
    background: #1d1d1d;
    margin: 2px; /*отступ между квадратиками*/
    box-shadow: 0 0 2px #000;
    transition: 0.8s ease; /*анимация 2 сек*/
}
  
.square:hover {
    transition-duration: 0s; /*мы хотим добавление цвета без анимации*/
}
  


/* gaming aim:                          /////////////////////////////////////////*/

.box55 {
    box-sizing: border-box;
    color: #fff;
    /*height: 100vh;*/
    overflow: hidden; /* чтобы не было видно других экранов */
    text-align: center;

    padding-left: 0px;    
    padding-top: 0px;
    margin: 0px;    
    border-width: 2px;          /* ширина рамки */
    border-style: solid;        /* сплошная рамка в сочетании с border-width: 2px; */
    border-radius: 10px;
    border-color: #fff9ec;         /* цвет рамки*/
    background: #fff9ec;
    background-color: #e5e5e5;    
    height: 300px;    
}

a {
    color: #fff;
    text-decoration: none;
}
  
a:hover {
    color: #16D9E3;
}
  
.start11 {
    font-size: 1.5rem;
}
  
h1 {
    line-height: 1.4;
    font-size: 3rem;
}
  
.screen {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 300px; /*100vh;*/
    width: 650px; /*100vw;*/
    transition: margin 0.5s ease-out;
    background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}
  
.screen.up {
    margin-top: -300px; /* -100vh; /* улетает на вверх */
}
  
.time-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}
  
.time-list li {
    margin: 10px;
}
  
.time-btn {
    background-color: transparent;
    border: 2px solid #C0C0C0;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}
  
.time-btn:hover {
    border: 2px solid #16D9E3;
    color: #16D9E3;
}
  
.hide {
    opacity: 0;
}
  
.primary {
    color: #16D9E3;
}
  
.board11 {
    display: flex;
    justify-content: center;    
    align-items: center;    
    position: relative;
    width: 300px;
    height: 250px;
    background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
    box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
    border-radius: 30px;
    overflow: hidden; /* чтобы не было видно других экранов */
}
  
.circle {
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}











